.product_list {
    display: flex;
    flex-direction: row;
    width: 50%;
}


.product_list .list {
    width: 100%;
}

.product_list .list_heading {
    display: flex;
    justify-content: center;
    align-items: center;
}
