.header {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    border-bottom: 2px solid rgba(128,128,128,0.5);
    background-color: #f1f1f1;
    padding-left: 15px;
}

.header .nav_item_link {
    cursor: pointer;
    text-decoration: none;
}

.header .nav_item {
    cursor: pointer;
    padding: 5px;
    padding: 15px;
}

.header .nav_item:hover {
    background-color: #d9d9d9;
}

.header .nav_item_link:active,
.header .nav_item_link:visited,
.header .nav_item_link:focus {
    color: #000000;
}


